* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(227, 227, 227);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flag-container {
  background-color: white;
  height: 20rem;
  width: 32rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  align-items: center;
}

.flag-motive {
  background-color: rgb(183, 4, 4);
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
}
