* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(185, 184, 184);
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  width: 15rem;
  height: 18rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

blockquote {
  padding: 0 1rem 1rem 1rem;
  margin-top: auto;
  font-style: italic;
  font-weight: 400;
}
p {
  color: grey;
}

.pager {
  display: flex;
  margin-top: auto;
}
.pager p {
  font-size: 3rem;
}
.pager p:first-child {
  color: black;
}
